@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.Mulish-font {
    font-family: "Mulish", sans-serif;
}

/* primary description */


/* navigation bar style start */
.navigation {
    display: flex;
    
    align-items: center;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
    
}

.navigation-side-left {
    display: flex;
    align-items: center;
    gap: 16.63px;
    
}

#navigation-img {
    width: 48px;
    height: 56.008px;
}

#navigation-name {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

#navigation-side-right {
    display: flex;
    gap: 44px;
}

.navigation-text {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 400;

}

.navigation-3line-icon {
    visibility: hidden;
}

/* navigation bar style end */

/* Banner-section-start */
.banner-section {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("./Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    margin: 0 auto;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.banner-section-heading {
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-weight: 800;
    /* padding-top: 106px; */

}

.banner-section-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    /* margin-top: -20px; */
}

.banner-section-from {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 800px;
    padding: 20px;
    /* height: 84px; */
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px; */
}

.banner-section-from-input {
    /* width: 174px; */
    height: 52px;
    border-radius: 8px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    /* margin-left: 15px; */
}

#banner-section-btn {
    /* width: 174px; */
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
}

#banner-section-btn-text {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

/* Banner-section-end */

/* our popular tour section start */
.Our-Popular-Tours {
    width: 1170px;
    height: 550px;
    margin: 0 auto;
    display: flex;
    gap: 53px;
    margin-top: 100px;
}

#our-popular-tours-heading {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-top: -10px;
}

.our-popular-tours-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 26px;
}

ul>li {
    margin-bottom: 20px;
    line-height: 26px;
}

/* our popular tour section end */

/* choose your destination section start */
.choose-your-destination {
    width: 1170px;
    margin: 0 auto;
    margin-top: 100px;
}

#choose-your-destination-heading {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
#choose-your-destination-row{
    display: grid;
    gap: 16px;
}
.choose-your-destination-row1 {
    grid-template-columns: 50% 50%;
}
.choose-your-destination-row2{
    grid-template-columns:30% 50% 20% ;
}
.choose-your-destination-row3{
    grid-template-columns: 40% 60%;
}

/* choose your destination section end */
/* responsive section */
@media screen and (max-width:576px) {
    .navigation {
        width: 280px;
        height: 74px;
        align-items: center;
        /* gap: 40px; */
    }

    .navigation-text {
        display: none;
    }

    .navigation-3line-icon {
        visibility: visible;
    }

    #navigation-img {
        width: 28.724px;
        height: 33.516px;
    }

    #navigation-name {
        font-size: 21.543px;
        display: flex;
        gap: 5px;
    }

    /* media query banner section start */
    .banner-section-heading {
        color: #FFF;
        font-size: 20px;
        font-weight: 600;
        padding-top: 32px;
        margin-bottom: 10px;
    }

    .primary-description {
        font-size: 14px;
        padding-top: 15px;
    }

    .banner-section {
        width: 100%;
        height: 100%;
        background-position: center;
        padding-bottom: 20px;
    }

    .banner-section-from {
        width: 80%;
        /* height: 288px; */
        grid-template-columns: repeat(1, 1fr);
    }

    #banner-section-btn {
        width: 255px;
        margin: 0 auto;
        /* margin-left: 16px; */
    }

    .banner-section-from-input {
        width: 255px;
        margin: 0 auto;
    }

    /*media query our popular tour section start */
    .Our-Popular-Tours {
        width: 100%;
        height:100% ;
        flex-direction: column;
    }

    #our-popular-tours-heading {
        font-size: 20px;
    }

    .our-popular-tours-description {
        font-size: 14px;
    }

    .our-popular-tours-img {
        width: 100%;
    }
    /*  */
    .choose-your-destination{
        width: 335px;
        height: auto;
    }
    #choose-your-destination-heading{
        font-size: 20px;
    }
    .img{
        width: 335px;
        height: 176px;
        justify-content: center;
        align-items: center;
    }
    .choose-your-destination-row1 >img> style{
        display: none;
    }
    
}